{% liquid
    assign products = section.settings.collection.products
    assign collection_length = section.settings.collection.products | size
    assign title = section.settings.title
%}


{%- if collection_length > 0 -%}
  <div class="featured-collection gradient{% if section.settings.heading == blank %} no-heading{% endif %}" data-scheme="{{ section.settings.color_scheme }}">
    {%- if title -%}
      {% render 'heading' with title: title, title_tag: 'h2'
       , class: 'featured-collection',
       animations_reveal_on_scroll: settings.animations_reveal_on_scroll %}
    {%- endif -%}
    <div class="featured-collection__container container">
      <div class="featured-collection__collection">
        <div class="featured-collection__collection-list">
          {%- for product in products limit: section.settings.products_to_show -%}
            {% liquid
              if section.settings.products_to_show == 4 
                assign group_size = 2
              endif 
              assign is_group = forloop.index | modulo: group_size
            %}
            {%- if is_group == 1 -%}
              {%- unless forloop.index == 1 -%}
              </group>
            {%- endunless -%}
            <group class="featured-collection__product-group">
            {%- endif -%}
            {% render 'card-product'
             , card_product: product,
             media_aspect_ratio: section.settings.image_ratio,
             image_shape: section.settings.image_shape,
             show_secondary_image: section.settings.show_secondary_image,
             show_vendor: section.settings.show_vendor,
             show_rating: section.settings.show_rating,
             show_quick_add: section.settings.enable_quick_add,
             section_id: section.id,
             index: forloop.index,
             class: 'featured-collection'
             animations_reveal_on_scroll: settings.animations_reveal_on_scroll %}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
{%- endif -%}


{% schema %}
  {
    "name": "t:sections.featured-collection.name",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "inline_richtext",
        "id": "title",
        "default": "Featured collection",
        "label": "t:sections.featured-collection.settings.title.label"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "t:sections.featured-collection.settings.description.label"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "t:sections.featured-collection.settings.collection.label"
      },
      {
        "type": "range",
        "id": "products_to_show",
        "min": 2,
        "max": 25,
        "step": 1,
        "default": 4,
        "label": "t:sections.featured-collection.settings.products_to_show.label"
      }, {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "info": "t:sections.all.colors.has_cards_info",
        "default": "background-1"
      }
    ],
    "presets": [
      {
        "name": "t:sections.featured-collection.presets.name"
      }
    ]
  }
{% endschema %}