{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{% liquid
  assign title = collection.title | escape
  assign shop_title = title | prepend: 'Shop&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
  assign filters = section.settings.filters
  
%}


<div
  class="collection-page__header-container">
  {% render 'heading' 
   with title: shop_title,
   title_tag: 'h1',
   class: 'collection-page',
   animations_reveal_on_scroll: section.settings.animations_reveal_on_scroll,
   enable_filter: section.settings.enable_filter,
   filters: filters %}
</div>


{% schema %}
  {
    "name": "t:sections.main-collection-banner.name",
    "class": "section",
    "settings": [
      {
        "type": "paragraph",
        "content": "t:sections.main-collection-banner.settings.paragraph.content"
      },
      {
        "type": "header",
        "content": "Filter"
      },
      {
        "type": "collection_list",
        "id": "filters",
        "label": "Collection Filters"
      },
      {
        "type": "checkbox",
        "id": "enable_filter",
        "label": "Enable Filter"
      }, {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "background-1"
      }
    ]
  }
{% endschema %}