{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{% liquid
  assign title = collection.title | escape
  assign shop_title = title | prepend: 'Shop&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'
%}

<div>
  {% render 'heading' 
   with title: shop_title,
   title_tag: 'h2',
   class: 'video',
   animations_reveal_on_scroll: settings.animations_reveal_on_scroll %}
</div>


{% schema %}
  {
    "name": "t:sections.main-collection-banner.name",
    "class": "section",
    "settings": [
      {
        "type": "paragraph",
        "content": "t:sections.main-collection-banner.settings.paragraph.content"
      }, {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "background-1"
      }
    ]
  }
{% endschema %}