<div>
  {{ section.settings.video_label }}
</div>

{% schema %}
  {
    "name": "t:sections.video.name",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "header",
        "content": "Text"
      },
      {
        "type": "inline_richtext",
        "id": "heading",
        "default": "Video",
        "label": "t:sections.video.settings.heading.label"
      },
      {
        "type": "richtext",
        "id": "video_label",
        "label": "Video Label"
      },
      {
        "type": "checkbox",
        "id": "enable_video_looping",
        "label": "t:sections.video.settings.enable_video_looping.label",
        "default": false
      }, {
        "type": "header",
        "content": "t:sections.video.settings.header__1.content"
      }, {
        "type": "video",
        "id": "video",
        "label": "t:sections.video.settings.video.label"
      }, {
        "type": "header",
        "content": "t:sections.video.settings.header__2.content"
      }, {
        "type": "paragraph",
        "content": "t:sections.video.settings.paragraph.content"
      }, {
        "type": "video_url",
        "id": "video_url",
        "accept": [
          "youtube", "vimeo"
        ],
        "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
        "label": "t:sections.video.settings.video_url.label",
        "info": "t:sections.video.settings.video_url.info"
      }, {
        "type": "image_picker",
        "id": "cover_image",
        "label": "t:sections.video.settings.cover_image.label"
      }, {
        "type": "text",
        "id": "description",
        "label": "t:sections.video.settings.description.label",
        "info": "t:sections.video.settings.description.info"
      }
    ],
    "presets": [
      {
        "name": "t:sections.video.presets.name"
      }
    ]
  }
{% endschema %}